//---------------------------
//utility selectors
//-----------------------------
.two-thirds{
  width:66%;
}
.one-third{
  width:33%;
}

.full-thirds{
 width:100%; 
}

.overlay{}

.overlay--red{
  background-color:;
}

.overlay--blue{
  background-color:;
}

.overlay--teal{
  background-color:;
} 

//-----------------------------
// location specific
//-----------------------------
.location--chiago-theater{
  
}
