@font-face {
	font-family:'AkzidenzGroteskBE-MdCnIt';
	src: url('../AkzidenzGroteskBE-MdCnIt_gdi.eot');
	src: url('../AkzidenzGroteskBE-MdCnIt_gdi.eot?#iefix') format('embedded-opentype'),
		url('../AkzidenzGroteskBE-MdCnIt_gdi.woff') format('woff'),
		url('../AkzidenzGroteskBE-MdCnIt_gdi.ttf') format('truetype'),
		url('../AkzidenzGroteskBE-MdCnIt_gdi.svg#AkzidenzGroteskBE-MdCnIt') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: condensed;
	unicode-range: U+0020-2122;
}

@font-face {
	font-family:'AkzidenzGroteskBE-MdCn';
	src: url('../AkzidenzGroteskBE-MdCn_gdi.eot');
	src: url('../AkzidenzGroteskBE-MdCn_gdi.eot?#iefix') format('embedded-opentype'),
		url('../AkzidenzGroteskBE-MdCn_gdi.woff') format('woff'),
		url('../AkzidenzGroteskBE-MdCn_gdi.ttf') format('truetype'),
		url('../AkzidenzGroteskBE-MdCn_gdi.svg#AkzidenzGroteskBE-MdCn') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: condensed;
	unicode-range: U+0020-2122;
}

@font-face {
	font-family:'Geometria-Light';
	src: url('../Geometria-Light_gdi.eot');
	src: url('../Geometria-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../Geometria-Light_gdi.woff') format('woff'),
		url('../Geometria-Light_gdi.ttf') format('truetype'),
		url('../Geometria-Light_gdi.svg#Geometria-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}

@font-face {
	font-family:'GrandHotel-Regular';
	src: url('../GrandHotel-Regular_gdi.eot');
	src: url('../GrandHotel-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../GrandHotel-Regular_gdi.woff') format('woff'),
		url('../GrandHotel-Regular_gdi.ttf') format('truetype'),
		url('../GrandHotel-Regular_gdi.svg#GrandHotel-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}