@font-face {
	font-family:'AkzidenzGroteskBE-MdCnIt';
	src: url('../AkzidenzGroteskBE-MdCnIt_gdi.eot');
	src: url('../AkzidenzGroteskBE-MdCnIt_gdi.eot?#iefix') format('embedded-opentype'),
		url('../AkzidenzGroteskBE-MdCnIt_gdi.woff') format('woff'),
		url('../AkzidenzGroteskBE-MdCnIt_gdi.ttf') format('truetype'),
		url('../AkzidenzGroteskBE-MdCnIt_gdi.svg#AkzidenzGroteskBE-MdCnIt') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: condensed;
	unicode-range: U+0020-2122;
}